<html>
	<head>
		<% include partials/head_includes.ejs %> 
	</head>
	<body>
		
		
		<% include partials/navigation.ejs %> 
		<h1 class="headline"> <%=name %> </h1>


		<div class="container">
			<div class="row">
				<% for(var k=0; k<images.length; k++) { %>
					<div class="col-md-6">
						<div class="thumbnail">
							<div class="bgd_image" style="background-image: url(/images/<%=id%>/<%=images[k]%>);"></div>
						</div>
					</div>
				<%}%>
			</div>	
		</div>
		
		<% include partials/jsincludes.ejs %> 
	</body> 
</html>

