html
	head
		include partials/head_includes.jade

	body
		include partials/navigation.jade
		h1.headline 
			=headline

		.container
			.row
				.col-md-12
					.thumbnail
						img(src="/images/newyork/1.jpg")
					
			
		include partials/jsincludes.jade
	