<html>
<head>
	<% include partials/head_includes.ejs %> 
</head>
	<body>
		
		
		<% include partials/navigation.ejs %> 
		<h1 class="headline"> <%= headline %> </h1>

		<div class="container">
			
			<div class="row">
				<div class="col-md-12"> 
					<div class="thumbnail">
						<img src="/images/newyork/1.jpg" />
					</div>
				 </div>
				
			</div>
		</div>
		
		<% include partials/jsincludes.ejs %> 
	</body>
</html>